//
   Created by kriz on 08.12.14.

template(name='Main')
    .container
        .row
            .col-md-3
                +TreeContent
            .col-md-6
                +NodeContent

template(name='TreeContent')
    .btn-group.btn-group-xs
        a#add.btn.btn-default(href='#')
            span.glyphicon.glyphicon-plus
        a#rem.btn.btn-default(href='#')
            span.glyphicon.glyphicon-minus
    #tree-content

template(name='NodeContent')
    if nodeSelected
        with currentNode
            +NodeToolbar
            ul.list-group
                +each threads
                    li.list-group-item
                        +NodeThread

template(name='NodeThread')
    unless isEditing
        .btn-group-vertical.pull-right
            button#edit.btn.btn-danger.btn-sm
                span.glyphicon.glyphicon-pencil
    +showThread

template(name='NodeToolbar')
    .btn-toolbar
        .btn-group
            +each toolbars
                +UI.dynamic template=templateName data=..

template(name='UnknownThread')
    h6 Unknown thread of type !{type}